.view-popup {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #d0caca;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    padding-bottom: 50px;
    padding-top: 50px;
    height: auto;
    margin-top: 50px;
    border-radius: 5px;

}
.popup-note {
    background-color: white;
    height: 75vh;
    min-height: 75vh;
    width: 80%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    overflow-y: scroll;
    margin-bottom: 50px;


    
}

.popup-note .close-btn {
            position: absolute;
            top: 16px;
            right: 0;
            margin-right: 50px;
            cursor: pointer;
            font-size: 34px;;


}
.edit-note {
    background-color: white;
    height: auto;
    min-height: 75vh;
    width: 80%;
    border: 1px solid black ;
    padding-bottom: 20px;
        overflow-y: scroll;

}
.edit-note input, textarea {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}


.edit-note .close-btn {
    position: absolute;
    top: 25px;
    right: 0;
    margin-right: 50px;
    cursor: pointer;
    font-size: 34px;
}
.sbtn button {
    width: 200px;
    background-color: black;
    color: white;

}

@media  screen and (min-width: 400px) and (max-width: 1400px) {

    .edit-note  textarea {
        width: 80%;
        height: 200px;
    }


}